<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakeshgurudu.android.runtimelogger">

    <application>

        <activity
            android:name=".ui.RuntimeLoggerActivity"
            android:icon="@drawable/ic_log_format"
            android:label="@string/activity_label"
            android:taskAffinity="com.rakeshgurudu.android.runtimelogger.${applicationId}"
            android:theme="@style/LoggerTheme" />

        <activity-alias
            android:name=".ui.RuntimeLoggerActivity"
            android:icon="@drawable/ic_log_format"
            android:label="@string/activity_label"
            android:targetActivity=".ui.RuntimeLoggerActivity"
            android:taskAffinity="com.rakeshgurudu.android.runtimelogger.${applicationId}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!--This config is merged in with the host app's manifest,
        but there can only be one provider with the same authority activated at any given
        point; so if the end user has two or more different apps using this library, only the
        first one will be able to use the provider. To work around this problem, we use the
        following placeholder in the authority to identify each host application as if it was
        a completely different provider.-->
        <provider
            android:name=".core.LoggerFileProvider"
            android:authorities="${applicationId}.RuntimeLoggerFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".core.RuntimeLogger$LoggingBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>